[Unit]
Description=NFC daemon
After=lxc@android.service
ConditionPathExists=!/home/furios/.nfc_disable
ConditionPathIsMountPoint=!/var/lib/waydroid/rootfs

[Service]
Type=dbus
Environment=NFCD_NO_STOP_POLL_LOOP=1
ExecStartPre=/usr/bin/binder-wait android.hardware.nfc@1.1::INfc/default
ExecStart=/usr/sbin/nfcd -p /usr/lib/nfcd/plugins
BusName=org.sailfishos.nfc.daemon

[Install]
WantedBy=multi-user.target
