#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

LIBDIR=usr/lib/$(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

override_dh_auto_build:
	dh_auto_build -- LIBDIR=$(LIBDIR) HAVE_DBUSACCESS=0 release pkgconfig debian/nfcd.install debian/libnfcd-dev.install debian/nfcd-tools.install

override_dh_auto_clean:
	dh_auto_clean -- LIBDIR=$(LIBDIR) HAVE_DBUSACCESS=0

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install -- LIBDIR=$(LIBDIR) HAVE_DBUSACCESS=0

override_dh_missing:
	dh_missing --fail-missing

%:
	dh $@
